@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
:root{
    --red: #CD3D0F;
    --green: #1bb60a;
    --black: #000;
    --white: #fff;
    --light-gray: #eaeaea;
    --dark-gray: #222;
    --light-green: #7ab043;
    --brown:#45372a;
    --dark-white:#e5e1d7;
    --dark-green:#36461f;
    --dk-med-gray: #777;
}
/* ------------------- GLOBAL STYLE  ------------------- */

#skipLink{
	position: absolute;
	left: -999px;
	height:  0;
	width:  0;
}

#skipLink:focus{
	top: 1em;
	left: 1em;
	display: block;
	font-size: 1.2em;
	padding: 0.5em;
	width: 25%;
	height: 1.5em;
	line-height: 1.3em;
}
html{
    background-color: var(--dark-white);
}

h1, h2, h3, h4{
    font-weight: bold;
}

h1, h2, h3, h4, nav, label {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
  }


  nav, li{
    font-size:1.2em;
  }
  h1{
    visibility: hidden;
    height: 0;
    width: 0;
    position: absolute;
	left: -999px;
  }
  p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
  }

  header label{
    cursor: pointer;
  }

  header{
    background-color: var(--dark-gray);
    margin: 0 auto;
    z-index: 3;
    width: 100%;
  }

  header img{
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
  .header nav{
    position: absolute;
    top: 0;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-bottom: 3px solid var(--dark-white);
    text-decoration: none;
  }

  .header li a:hover,
.header .menu-btn:hover {
  background-color: var(--brown);
}

header img{
    width: 300px;
  }

  .header nav{
    position: absolute;
    top: 0;
    width: 100%;
  }
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--dark-green);
    height: 618px;
    user-select: none;
    position: relative;
    border-radius: 15px;  
    text-align: center;  
  }
  .header li a {
    padding: 20px 20px;
    border-bottom: 3px solid var(--dark-white);
    text-decoration: none;
  }

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 49px 20px;
    user-select: none;
  }
  .header .menu-icon .nav-icon {
    background: var(--dark-white);
    display: block;
    height: 5px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
  }
  
  .header .menu-icon .nav-icon:before,
  .header .menu-icon .nav-icon:after {
    background: var(--dark-white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .nav-icon:before {
    top: 7px;
  }
  
  .header .menu-icon .nav-icon:after {
    top: -7px;
  }
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 740px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .nav-icon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .nav-icon:after {
    top: 0;
  }


  .number{
    background-color: var(--dark-green);
    padding: 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.3em;
  }

a{
    text-decoration: none;
    color:var(--white);
}

.num{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: relative;
}

.num svg{
    stroke: var(--white);
    position: relative;
    top: 15px;
}
.num svg:hover{
    stroke: var(--light-green);
}


[href="#top"] {
    position:fixed;
    bottom:0px;
    right:0px;
    border-radius:10px 0 0px 0px;
    background-color: var(--dark-green);
  }

.main img{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 350px;
}
.main h2{
    text-align: center;
    padding: 2rem;
}

.main{
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2rem;
}

.green img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    padding-top: 3rem;
    width: 350px;
}

.main h3{
    display: none;
}

.main a{
    background-color: var(--light-green);
    padding:15px;
    color: var(--white);
    text-decoration: none;
    border-radius:20px;
    font-weight:bold;
    display:block;
    text-align:center;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    box-shadow: -10px 10px 20px var(--dk-med-gray);
}
.main a:hover{
    background-color: var(--brown);
}
.mains a:hover{
    background-color: var(--brown);
}
.service a:hover{
    background-color: var(--brown);
}

.scroll {
    display: flex;
    flex: 1;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 2.5rem;
    padding-left: 1.5rem;
    margin: 0 auto;
    padding-bottom: 0.75rem;
}

.scroll::-webkit-scrollbar {
    height: 18px;
  }
  
  .scroll::-webkit-scrollbar-thumb {
      background:var(--dark-green);
      border-radius: 10px;
  }
 
  .scroll::-webkit-scrollbar-track {
     box-shadow: inset 0 0 15px var(--green);
  }
  .scroll::-webkit-scrollbar-thumb:hover {
     background: var(--light-green);
  }

.scroll img{
    padding-right: 1rem;
    filter: none;
}

h2{
    padding-left: 2.5rem;
    margin: 0 auto;
}  

.scroll h3{
    font-size: 2.2em;
    padding-bottom: 0.5rem;
}

.service a{
    background-color: var(--light-green);
    padding:15px;
    color: var(--white);
    text-decoration: none;
    border-radius:20px;
    font-weight:bold;
    display:block;
    text-align:center;
    margin: 0 auto;
    box-shadow: -10px 10px 20px var(--dk-med-gray);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
.service h2{
    padding-top: 1.5rem;
}

.choose img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    padding-top: 2rem;
   width: 350px;
}

.choose h3{
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.green h3{
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}

.choose p{
  margin: 0 auto;
}

.choose{
    display: grid;
    padding-bottom: 2rem;
    padding-top: 3rem;
}
.green{
    display: grid;
    padding-top: 2rem;
   padding-bottom: 1rem;
}
.green p{
  margin: 0 auto;
}

.contact h2{
    text-align: center;
    padding-bottom: 0.25rem;
}

.contact{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.required{
    color: var(--light-green);
}

form{
   
    margin: 0 auto;
    font-size: 1.1rem;
    display: block;
   padding-top: 5rem;
   padding-bottom: 3rem;
   padding-right: 3rem;
   padding-left: 2rem;
   margin-bottom: 2rem;
  }

  .message{
    display: none;
    color: var(--red);
    font-size: 1.2rem;
    margin: 0.25rem 0;
    font-weight: bold;
  }
  
  .error{
    font-size: 1rem;
    display: block;
  }
  
  .errorInput{
    border: 1px solid var(--red);
  }
 

 label{
    display: block;
   padding-left: 1rem;
	margin: 0.75em 0 0.25em 0;
    font-size: 1.8em;
}

.required{
    display: inline-block;
    color: var(--red);
    font-size: 1.1em;
    font-weight: bold;
  }


 input[type=submit], input[type=reset]{
    background-color: var(--light-green);
    padding:18px;
    color: var(--white);
    text-decoration: none;
    border-radius:20px;
    font-weight:bold;
    display:block;
    text-align:center;
    margin: 0 auto;
    box-shadow: -10px 10px 20px var(--dk-med-gray);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    width: 50%;
    font-size: 0.9em;
    cursor: pointer;
}
#submit:hover{
    background-color: var(--brown);
}
#myReset:hover{
    background-color: var(--brown);
}


 input[type="text"]{
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;
    background-color: var(--white);
    outline: none;
    border: 4px solid var(--dark-green);
    line-height: 1;
    height: 2.5rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: -10px 10px 20px var(--dk-med-gray);
  }

  input[type="tel"]{
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;
    background-color: var(--white);
    outline: none;
    border: 4px solid var(--dark-green);
    line-height: 1;
    height: 2.5rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: -10px 10px 20px var(--dk-med-gray);
  }

  input[type="email"]{
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;
    background-color: var(--white);
    outline: none;
    border: 4px solid var(--dark-green);
    line-height: 1;
    height: 2.5rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: -10px 10px 20px var(--dk-med-gray);
  }

::-webkit-input-placeholder{
    color: var(--black);
    font-size: 1rem;
  }
  
form h3{
   text-align: center;
   text-transform: uppercase;
   padding-bottom: 1rem;
  }

form p{
  color: var(--red);
  text-align: center;
}

input[type="text"].error, input[type="email"].error, input[type="tel"].error, textarea.error{
  border: 4px solid var(--red);
}

#pref{
  display: block;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--red);
  height: 1.5rem;
}
.hidden{
  height: 1rem;
  margin: 0;
  visibility: hidden;
}

  textarea{
    display: block;
    font-size: 1.1rem;
    height: 6rem;
    padding: 1rem;
    border: 4px solid var(--dark-green);
    border-radius: 15px;
    outline: none;
    box-shadow: -10px 10px 20px var(--dk-med-gray);
    background-color: var(--white);
  }
  .mess{
    margin-bottom: 2rem;
  }

  
  footer{
    padding: 0 1rem 1rem 1rem;
    line-height: 1;
    text-align: center;
    margin-top: 1rem;
    color: var(--white);
    background-color: var(--dark-gray);
  }
  footer img{
    width: 300px;
  }
  

footer li{
    margin: 1rem;
}
footer a:hover{
    color: var(--light-green);
}
footer svg{
    stroke: var(--white);
    padding-bottom: 0.5rem;
    margin: 1.1rem;
}
footer svg:hover{
    stroke: var(--light-green);
}

footer ul{
    padding-bottom: 1rem;
}
footer .num {
    position: relative;
    bottom: 50px;
    font-size: 1.2em;
}
#phones{
    position: relative;
    top: 45px;
    left: 15px;
}

.mains img{
    display: block;
    margin-left: auto;
    margin-right: auto;  
    border-radius: 1rem; 
}
.mains p{
    margin: 0 auto;
    text-align: center;
}
.mains{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}
.mains h2{
    padding-top: 3rem;
    text-align: center;
}
.mains h3{
    font-size: 2.3em;
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--dark-white);
}
.mains li{
    text-align: center;
    line-height: 1;
    max-width: 40ch;
    padding: 0.75rem 0.5rem 0;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
.services{
    display: grid;
}
.services p{
    padding-top: 0.5rem;
}

.trees, .removal, .plantings, .palms, .mowings, .removals, .spreads, .seeds, .sprays,.regular, .irrigations{
    background-color: var(--dark-green);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5rem;
    margin-top: 2rem;
    box-shadow: -12px 20px 20px var(--dk-med-gray);
    padding: 1rem;
    width: 75%;
    height: 500px;
    color: var(--light-gray);
}
.mains a{
    background-color: var(--light-green);
    padding:15px;
    color: var(--white);
    text-decoration: none;
    border-radius:20px;
    font-weight:bold;
    display:block;
    text-align:center;
    margin: 0 auto;
    box-shadow: -10px 10px 20px var(--dk-med-gray);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
.experience{
    line-height: 1.35;
    max-width: 50ch;
    padding: 1rem;
}

.contact{
    display: grid;
    grid-template-columns: 1fr;
}
.contact img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    padding-bottom: 2rem;
}
.contact p{
    margin: 0 auto;
    text-align: center;
}
.contact a{
    color: var(--dark-green);
    font-size: 1.5em;
}
.contact a:hover{
    text-decoration: underline;
    color: var(--light-green);
}

.maint{
    margin-top: 3rem;
}
.maint h2{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.maint img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.75rem;
}
.sections img{
    width: 350px;
}
.sections p{
    margin: 0 auto;
    text-align: center;
}
.sections{
    padding-bottom: 2rem;
}
figure img{
   padding-top: 1rem;
   width: 350px;
}
figcaption{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    padding-top: 1rem;
    text-align: center;
    margin: auto;
}
.maint h3{
    padding-top: 2rem;
    padding: 1rem 1rem 0;
    margin: 0 auto;
    max-width: 25ch;
    padding-bottom: 2rem;
}
.maint h4{
    padding-top: 2rem;
    padding: 1rem 1rem 0;
    margin: 0 auto;
    font-size: 2.7em;
}

.sections h3{
    text-align: center;
}
.area{
    text-align: center;
}
.cit svg{
    color: var(--dark-green);
}
.cit{
    display: grid;
    text-align: center;
    margin: 1rem;

}
.city svg{
    position: relative;
    right: 90px;
    bottom: 40px;
}
.cityone svg{
    position: relative;
}
.citytwo svg{
    position: relative;
    right: 100px;
    bottom: 40px;
}
.citythree svg{
    position: relative;
    right: 95px;
    bottom: 40px;
}
.cityfour svg{
    position: relative;
    right: 100px;
    bottom: 40px;
}
.cityfive svg{
    position: relative;
    right: 95px;
    bottom: 40px;
}

.citysix svg{
    position: relative;
    right: 75px;
    bottom: 40px;
}
.cityseven svg{
    position: relative;
    right: 90px;
    bottom: 40px;
}
.cities svg{
    position: relative;
    right: 102px;
    bottom: 40px;
}
.citiesone svg{
    position: relative;
    right: 115px;
    bottom: 40px;
}
.citiestwo svg{
    position: relative;
    right: 80px;
    bottom: 40px;
}
.citiesthree svg{
    position: relative;
    right: 98px;
    bottom: 40px;
}
.citiesfour svg{
    position: relative;
    right: 100px;
    bottom: 40px;
}
.citiesfive svg{
    position: relative;
    right: 115px;
    bottom: 40px;
}
.citiessix svg{
    position: relative;
    right: 70px;
    bottom: 40px;
}
.citiesseven svg{
    position: relative;
    right: 93px;
    bottom: 40px;
}

dt{
    display: none;
}
  
  #formErrors {
    color: var(--red);
  }
  

@media screen and (min-width: 375px){
   
    .scroll img{
        width: 400px;
        height: 300px;
    }
    
    
    .scroll h3{
        font-size: 2.2em;
    }
   
    .number p{
        position: relative;
        padding-left: 1rem;
        top: 15px;
    }
    
    .num{
        bottom: 13px;
        right: 20px;
    }
    .main img{
        height: 400px;
        width: 100%;
    }
    .main h2{
        max-width: 25ch;
        margin: 0 auto;
        font-size: 3em;
    }

    .sr-onlys{
        display: none;
    }
   
    .green img{
       width: 100%;
       height: 500px;
    }

    .main a{
        width:50%;
    }
    
    .service a{
        width:50%;
    }

    .choose{
        display: grid;
        grid-template-columns: 1fr;
    }
    .green{
        grid-template-columns: 1fr;
    }
    
    .choose img{
        height: 500px;
        width: 100%;
    }

    .choose p{
        line-height: 1.45;
        max-width: 80ch;
        padding-left: 1.5rem;
        padding-right: 1rem;
      }
      .green p{
        line-height: 1.45;
        max-width: 80ch;
        padding-left: 1.5rem;
        padding-right: 1rem;
      }

      
    .contact img{
        height: 300px;
        width: 100%;
    }
    .contact p{
        line-height: 1.45;
        max-width: 40ch;
    }

    .sections img{
        height: 350px;
        width: 100%;
    }
    .sections p{
        line-height: 1.35;
        max-width: 50ch;
        padding: 1rem;
    }
    figure img{
        height: 350px;
         width: 100%;
     }

     .mains img{
        padding-bottom: 1.2rem;
        padding-top: 1rem;
        width: 200px;
        height: 200px;
    }
    .mains p{
        margin: 0 auto;
        text-align: center;
        padding-left: 1.5rem;
        
    }

    .services{
        grid-template-columns: 1fr;
    }
     
    .trees, .removal, .plantings, .palms, .mowings, .removals, .spreads, .seeds, .sprays,.regular, .irrigations{
        padding: 1rem;
        width: 80%;
        height: 650px;
    }
    .mains a{
        width: 50%;
    }
    .experience{
        line-height: 1.35;
        max-width: 50ch;
        padding: 1rem;
    }

    .maint h3{
        padding: 1rem 1rem 0;
        margin: 0 auto;
        padding-bottom: 1rem;
    }

    figcaption{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3em;
        line-height: 1.5em;
        padding-top: 1rem;
        text-align: center;
        margin: auto;
    }

      .cit{
        grid-template-columns: 1fr;
        display: grid;
        font-size: 1em;    
    }

    footer ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 1rem;
    }
    
    .cityone svg{
        right: 145px;
        bottom: 35px;
    }

    textarea{
        width: 270px;
    }
}


@media screen and (min-width: 900px) {
    .header ul {
        overflow: visible;
        display: flex;
        height: 100px;
        background: none;
    }

    header img{
        width: 400px;
        margin-left: 3rem;
    }
    .header .menu {
        clear: none;
        max-height: none;
        float: right;
      }
      .header .menu-icon {
        display: none;
      }

      .header li a{
        border-bottom: 0px solid;
        background-color: var(--dark-green);
        margin: 0.5rem;
        border-radius: 10px;
        padding: 20px;
        width: 80px;
      }
      .header li a:hover{
        background-color: var(--brown);
      }

      .header nav{
        top:80px;
        width: 95%;
      }

      [href="#top"] {
        position:fixed;
        bottom:0px;
        right:0px;
        border-radius:20px 0 0px 0px;
        background-color: var(--light-green);
      }

      footer ul{
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      form{
        width: 400px;
      }
      textarea{
        width: 400px;
        height: 7rem;
      }

      input[type="text"], input[type="tel"]{
        height: 2.75rem;
      }

      .grid{
        display: flex;
        margin-left: 10%;
      }
      input[type=reset]{
        width: 80%;
        margin-left: 5%;
      }
      input[type=submit]{
        width: 80%;
        margin-right: 5%;
      }
      .content{
        width: 90%;
        position: absolute;
        top: 450px;
        left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--white);
        margin: 1rem;
      }
      .sr-onlys{
        display: block;
        text-align: center;
      }
      .sr-only{
        display: none;
      }
      .main h3{
        max-width: 25ch;
        margin: 0 auto;
        font-size: 3em;
        padding-bottom: 2.5rem;
        display: block;
    }
    .main a{
        box-shadow: -10px 10px 20px var(--dark-gray);
        width: 25%;
    }
    .mains a{
        width: 25%;
    }
    .service a{
        width: 25%;
    }
    .cityone svg{
        right: 147px;
        bottom: 40px;
    }
    .maint h3{
        max-width: 85ch;
    }

    footer .num{
        font-size: 1.5em;
    }
     
}
   
@media screen and (min-width: 1280px){
    header img{
        width: 430px;
    }

     .services{
        grid-template-columns: 1fr 1fr 1fr;
     }

     .trees, .removal, .plantings, .palms, .mowings, .removals, .spreads, .seeds, .sprays,.regular, .irrigations{
        padding: 1.5rem;
        width: 75%;
        height: 620px;
    }
    .mains a{
        width: 20%;
        margin-top: 4rem;
        padding: 1rem;
    }
    .mains img{
        padding-bottom: 1.2rem;
        padding-top: 1rem;
        width: 320px;
        height: 220px;
    }
    .experience{
        line-height: 1.35;
        max-width: 90ch;
        padding: 1.25rem;
    }

    .sections img{
        height: 430px;
        width: 85%;
    }
    .sections p{
        line-height: 1.45;
        max-width: 110ch;
        padding: 1rem;
    }
    figure img{
        height: 600px;
         width: 70%;
     }
     .cit{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .contact img{
        height: 400px;
        width: 85%;
    }
    .contact p{
        line-height: 1.45;
        max-width: 100ch;
        padding: 1rem;
    }

    .main img{
        height: 500px;
        width: 85%;
    }

    .main a{
        width:20%;
    }
    .service a{
        width: 20%;
    }

    .scroll img{
        width: 500px;
        height: 350px;
    }

    .scroll h3{
        font-size: 2.4em;
    }
    .service h2{
        text-align: center;
    }

    .choose img{
        height: 400px;
        width: 50%;
    }

    .choose p{
        line-height: 1.55;
        max-width: 40ch;
        padding: 0.25rem 0;
        margin-top: 2%;
      }

      .green p{
        line-height: 1.55;
        max-width: 40ch;
        padding: 0.25rem 0;
        margin-top: 2.8%;
      }
      
      .green img{
        width: 50%;
        height: 400px;
     }
     
     .flex{
       display: flex;
       padding-top: 0.5rem;
     }
     form{
        width: 800px;
      }
      textarea{
        width: 800px;
        height: 11rem;
      }
      input[type="text"], input[type="tel"]{
        height: 3rem;
      }
      input[type=reset]{
        width: 40%;
      }
      input[type=submit]{
        width: 40%;
      }
      .grid{
        margin-left: 4rem;
      }
      .cityone svg{
        right: 147px;
        bottom: 40px;
    }
    .main h3{
        max-width: 35ch;
    }
    .content{
        top: 480px;
        left: 50px;
    }
}
    
  

  
